{% extends 'base.html'%} {% block content%}
<div class="flex flex-col items-center bg-gray-100 max-h-full">
  {% for post in postes %}
  <div class="w-8/12 mt-10">
    <div class="card lg:card-side bg-base-100 shadow-xl">
      <figure>
        <img src="https://placeimg.com/400/400/arch" alt="Album" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">New album is released!</h2>
        <p class="text-right">{{post.content}}</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Participate</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock%}
