{% extends 'base.html'%} {% block content%}
<div class="flex flex-col items-center bg-gray-100 max-h-full">
  <div class="w-full sm:w-8/12 mt-10">
    <div class="card lg:card-side bg-base-100 rounded-b-none">
      <figure>
        {% load static %} {% if post.img %}
        <img
          class="w-60 overflow-hidden pt-4 pl-8"
          src="media/{{ user.img }}"
          alt="Album"
        />

        {%else%}
        <img
          class="w-60 overflow-hidden"
          src="{% static 'assets/image.jpg' %}"
          alt="Album"
        />
        {% endif %}
      </figure>
      <div class="card-body">
        <h2 class="card-title">{{post.title}}</h2>
        <p class="">{{post.content}}</p>
        <div class="card-actions justify-end">
          {% if post.type == 'Event' %}
          <button class="btn bg-green-600 text-white border-0">
            Valenteer
          </button>
          {% else %} {% if post.type == 'Trip' %}
          <button class="btn bg-green-600 text-white border-0">Reserve</button>
          {% endif %} {% endif %}
        </div>
      </div>
    </div>
    <div class="bg-white rounded-b-xl p-2">
      <!-- comment sections -->
      <ul>
        {% for comment in comments %} {% if post.id == comment.post.id %}

        <li class="flex p-2">
          {% if comment.owner.img%}
          <img
            class="w-10 h-10 overflow-hidden rounded-full"
            src="media/{{ comment.owner.img }}"
            alt="Album"
          />
          {% else %}
          <img
            class="w-10 h-10 overflow-hidden rounded-full"
            src="{% static 'assets/avatar.jpg' %}"
            alt="Album"
          />
          {% endif %}
          <div class="pl-4 border-gray-200 border-b-2">
            <h1 class="font-semibold">
              {{comment.owner.first_name}} {{comment.owner.last_name}}
            </h1>
            <p>{{comment.content}}</p>
          </div>
          <div class="flex justify-center items-center p-4">
            <p class="font-thin text-xs">{{comment.timestamp}}</p>
          </div>
        </li>
        {% endif %} {% endfor %}
      </ul>

      <div class="flex justify-center items-center">
        <form action="" method="post" class="flex">
          {% csrf_token %} {% load static %} {% if post.img %}
          <img
            class="w-10 h-10 overflow-hidden rounded-full"
            src="media/{{ user.img }}"
            alt="Album"
          />
          {%else%}
          <img
            class="w-10 h-10 overflow-hidden rounded-full"
            src="{% static 'assets/avatar.jpg' %}"
            alt="Album"
          />
          {% endif %}
          <input
            type="text"
            name="comment"
            class="focus:outline-none border-none rounded-full bg-gray-100 sm:w-40 md:w-96"
            placeholder="Add Comment ..."
          />
          <input
            type="text"
            name="post_id"
            class="focus:outline-none hidden border-none rounded-full bg-gray-100 sm:w-40 md:w-96"
            value="{{post.id}}"
          />
          <button
            class="text-green-600 focus:outline-none p-2 hover:bg-green-600 hover:text-white font-medium rounded-full duration-200 ease-in"
          >
            ADD
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock%}
